:root {
  --light-grayish-cyan-background: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 68.75em) {
    font-size: 50%;
  }

  @media only screen and (max-width: 50em) {
    font-size: 40%;
  }

  @media only screen and (max-width: 41em) {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  line-height: 1;
  background-color: var(--light-grayish-cyan-background);
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

@import './scss/header';
@import './scss/main';
