.header {
  background-image: url(./img/bg-header-desktop.svg);
  background-size: cover;
  background-color: var(--desaturated-dark-cyan);
  height: 16rem;
  width: 100%;
  font-weight: 700;
  font-size: 1.2rem;

  @media only screen and (max-width: 41em) {
    background-image: url(./img/bg-header-mobile.svg);
  }

  &__bar {
    background-color: #fff;
    padding: 2rem;
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    transform: translateY(12rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;

    @media only screen and (max-width: 41em) {
      width: 80%;
      transform: translateY(10rem);
    }
  }

  &__filter {
    flex: 0 0 50%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--desaturated-dark-cyan);
  }

  &__list {
    background-color: var(--light-grayish-cyan-filter-tablets);
    display: flex;
    margin: 0.5rem 0;
    align-items: center;
    border-radius: 0.4rem;
    padding-left: 0.5rem;
    overflow: hidden;
  }

  &__button {
    background-color: #fff;
    border: none;
    border-bottom: 2px solid transparent;

    &:hover {
      color: var(--desaturated-dark-cyan);
      border-bottom: 2px solid var(--desaturated-dark-cyan);
    }
  }

  &__clear {
    background-color: var(--desaturated-dark-cyan);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    margin-left: 0.5rem;

    &:hover {
      background-color: var(--very-dark-grayish-cyan);
    }
  }

  &__image {
    @media only screen and (max-width: 41em) {
      height: 1rem;
    }
  }
}
